.cart {
    background-image: url("https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png");
}

* {
    margin: 0px;

    padding: 0px;
}

nav {
    /* width: 100vw; */
    height: 45px;
    display: flex;
    border: 0.5px solid black;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between;} */}
#searchInput{
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
   
}
.searchInHeader{
    padding-left: 50px;
}
.logo{
    padding-left: 250px;
}
.language{
    padding-left: 497.6px;
}







