 
  .topBar {
    width: 100%;
    position:static;
    box-sizing: border-box;
     height: 18px;
     border: 0vh;
    
     background-color: #eee;
     
 }.cart {
     display: inline-block;

     height: 40px;
     width: 40px;
     object-fit: contain;
     padding-top: 12px;
 }

 * {
     margin: 0px;

     padding: 0px;
 }

 .cartText {
     display: inline-block;
 }

 nav {

     height: 45px;
     width: 100%;
     display: flex;
     border-bottom: 0.5px solid darkgrey;
     flex-direction: row;
     align-items: center;
     position: static;
     /* flex-wrap: wrap; */
     justify-content: space-between;}
     .logo {position: relative;
      left: 10%;
    }

 #searchInput {
    position: relative;
     height: 30px;
     width: 300px;
     border: 1px solid black;
     border-radius: 5px;
     left: 5%;
     background-color: #eee;
 }

 .searchInHeader {
     padding-left: 50px;
 }

 

 .language {
     padding-left: 59.6px;
 }



 

 .cart {
     padding-left: 315px;
 }

 .login {
     padding-left: 56px;
 }

 .btnSubmit {
     margin-left: 05px;
 }
 .primaryFilter {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .man{
    display: inline-block;
    position: relative;
    left: 35%;
  cursor: pointer;
   
 }
 .manDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  .manDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  .manDropdown a:hover {background-color: #ddd;}

.man:hover .manDropdown {display: block;}
/* .man:hover .manBtn{
    background-color: rgb(0, 0, 0);
    color: #ddd;
} */
.woman{
    display: inline-block;
    position: relative;
    left: -3%;
  cursor: pointer;
   
 }
 .womanDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  .womanDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  .womanDropdown a:hover {background-color: #ddd;}

.woman:hover .womanDropdown {display: block;}
.kid{
    display: inline-block;
    position: relative;
    left: -40%;
  cursor: pointer;
   
 }
 .kidDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  .kidDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  .kidDropdown a:hover {background-color: #ddd;}

.kid:hover .kidDropdown {display: block;}

 